<div class="container">
    <h1>Editar Genero</h1>
    <hr>
    <a href="/home">Regresar</a>
    <form (ngSubmit) = "formularioGenero()" id = "loginFormGenero">
        <div class="form-group">
            <label>Id: </label>
            <input type = "number" class="form-control" [(ngModel)] = "generos.idGenero" [ngModelOptions] = "{standalone: true}" required disabled=»disabled»>
        </div>
        <div class="form-group">
            <label>Nombre: </label>
            <input type = "text" class="form-control" [(ngModel)] = "generos.nombre" [ngModelOptions] = "{standalone: true}" required>
        </div>
        <div class="form-group">
            <label>Fecha Creación: </label>
            <input type = "date" class="form-control" [(ngModel)] = "generos.fechaCreacion" [ngModelOptions] = "{standalone: true}" required>
        </div>
        <div class="form-group">
            <label>Usuario Creación: </label>
            <input type = "text" class="form-control" [(ngModel)] = "generos.usuarioCreacion" [ngModelOptions] = "{standalone: true}" required>
        </div>
        <div class="form-group">
            <label>Fecha Modificación: </label>
            <input type = "text" class="form-control" [(ngModel)] = "generos.usuarioModificacion" [ngModelOptions] = "{standalone: true}" required>
        </div>
        <div class="form-group">
            <label>Usuario Asignado: </label>

            <select  type="text" class="form-control" [(ngModel)]="generos.idGenero"  [ngModelOptions]="{standalone:true}" required>
                <option *ngFor="let usuer of generos" [value]="usuer.idGenero">{{usuer.nombre}} </option>
            </select>
        </div>
        <br>
        <input type = "submit" class="btn btn-success" value = "Editar Empresa">
    </form>
</div>
