<div class="container">
    <h1>Editar Role</h1>
    <hr>
    <a href="/home">Regresar</a>
    <form (ngSubmit) = "formularioRole()" id = "loginFormRole">
        <div class="form-group">
            <label>Id Role: </label>
            <input type = "number" class="form-control" [(ngModel)] = "roles.idRole" [ngModelOptions] = "{standalone: true}" required disabled=»disabled»>
        </div>
        <div class="form-group">
            <label>Nombre: </label>
            <input type = "text" class="form-control" [(ngModel)] = "roles.nombre" [ngModelOptions] = "{standalone: true}" required>
        </div>
        <div class="form-group">
            <label>Fecha Creación: </label>
            <input type = "date" class="form-control" [(ngModel)] = "roles.fechaCreacion" [ngModelOptions] = "{standalone: true}" required>
        </div>
        <div class="form-group">
            <label>Usuario Creación: </label>
            <input type = "text" class="form-control" [(ngModel)] = "roles.usuarioCreacion" [ngModelOptions] = "{standalone: true}" required>
        </div>
        <div class="form-group">
            <label>Fecha Modificación: </label>
            <input type = "date" class="form-control" [(ngModel)] = "roles.fechaModificacion" [ngModelOptions] = "{standalone: true}" required>
        </div>
        <div class="form-group">
            <label>Usuario Modificación: </label>
            <input type = "text" class="form-control" [(ngModel)] = "roles.usuarioModificacion" [ngModelOptions] = "{standalone: true}" required>
        </div>
        <div class="form-group">
            <label>Usuario Asignado: </label>

            <select  type="text" class="form-control" [(ngModel)]="roles.idRole"  [ngModelOptions]="{standalone:true}" required>
                <option *ngFor="let usuer of roles" [value]="usuer.idRole">{{usuer.nombre}} </option>
            </select>
        </div>
        <br>
        <input type = "submit" class="btn btn-success" value = "Editar Modulo">
    </form>
</div>




